<h1>Listing pins</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <!---we can call @pins because we defined it in our Pins controller-->
    <%= render @pins %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path %>
