<!--<h1>Listing pins</h1>
commented out table display to incoporate jquery masonry
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead

  <tbody>
    we can call @pins because we defined it in our Pins controller
    %= render @pins %>
  </tbody>
</table>

<br>

%= link_to 'New Pin', new_pin_path %>-->

<!---starting implementation of jquery masonry-->
<div id = "pins">
  <%= render @pins%>
</div>