	<div class = "jumbotron">
		<h1 id = "header" class = "page-header">Welcome to One Month Rails</h1>
		<div class = "text-center">
			<p>
				You've found the home page!! Here is a link to <%= link_to "Google", "http://www.google.com"%> 
			</p>
			<p>
				<%= link_to "Sign Up Now!", "#", class:"btn btn-success btn-large" %>
			</p>
		</div>	
	</div>
